@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/global.scss' as *;


.videoList{
    padding: 0 1rem 0 1rem;
    @include tablet{
        padding: 0 2.25rem 0 2.25rem;
    }

    @include desktop{
        padding-top: 1.5rem;
    }
    
    &__title{
        font-size: 1rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
        color: $primary-silver-color;
        font-weight: 700;
        text-decoration: none;


        @include tablet{
            font-weight: 600;
        }
    }

    &__link{
        text-decoration: none;
        color: $primary-brainflix-black-color;
    }
}