@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/global.scss' as *;


.videoList{
    padding: 0 1rem 0 1rem;
    &__title{
        font-size: 1rem;
        padding-bottom: 1rem;
        color: $primary-silver-color;
        font-weight: 700;
    }
}