//tablet and desktop breakpoint
$tablet-breakpoint: 768px; //48rem
$desktop-breakpoint: 1280px; //80rem

//primary colors
$primary-brainflix-black-color: #323232;
$primary-brainflix-blue-color: #0095ff;
$primary-silver-color: #afafaf;
$primary-white-color: #ffffff;


//secondary colors
$secondary-brainflix-darkblack-color: #000000;
$secondary-brainflix-darkblue-color: #0065ad;
$secondary-mercury-color: #e1e1e1;
$secondary-alabaster-color: #fafafa;






