@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/global.scss' as *;

.form {
    padding: 1rem;
    display: flex;

    &__title {
        font-size: 1rem;
        color: $primary-silver-color;
        font-weight: 400;
        margin: 0;
    }

    &__container {
        display: flex;
        flex-direction: row;
        padding: 0 1rem 1rem 0;
        margin: 0;
        justify-content: center;
        width: 100%;

    }

    &__avatar{
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        object-fit: cover;
    }

    &__box{
        padding: 0 1rem 1rem 1rem;
        width: 100%;
    }

    &__message{
        font-family: 'AvenirNextLTPro', sans-serif;
        width: 100%;
        height: 2.25rem;
        border-radius: .25rem;
        border: 1px solid $secondary-mercury-color;
        height: 8rem;
        padding: .75rem;
        margin-bottom: 1rem;
        resize: none;

    }

    &__message::placeholder{
        color: $primary-brainflix-black-color;
    }

    &__button{

        background-color: $primary-brainflix-blue-color;
        border: 0;
        border-radius: .25rem;
        width: 100%;
        padding: 1rem;
        cursor: pointer;
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    &__comment{
        color: $primary-white-color;
        text-align: center;
        font-size: 1rem;
        line-height: 1.25rem;
        font-weight: 700;
    }

}