@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/global.scss' as *;

.form {
    padding: 1rem;

    @include tablet{
            padding: 0 2.25rem 0 2.25rem;
    }

    &__title {
        font-size: 1rem;
        color: $primary-silver-color;
        font-weight: 400;
        margin: 0;

        @include tablet{
            margin-left: 2rem;
        }
    }

    &__container {
        display: flex;
        flex-direction: row;
        padding: 0 1rem 1rem 0;
        margin: 0;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid $secondary-mercury-color;


        @include tablet{
            position: relative;
            display: flex;
            align-items: center;
            padding-right: 0;
        }

    }

    &__avatar{
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        object-fit: cover;

        @include tablet{
            width: 3.25rem;
            height: 3.25rem;
            position: absolute;
            left: 0px;
            bottom: 1.2125rem;
        }
    }

    &__box{
        padding: 0 1rem 1rem 1rem;
        width: 100%;

        @include tablet{
            padding: 0 2.25rem 0 2.25rem;
            margin-left: 1rem;
        }
    }

    &__numComments{
        font-size: 1.2rem;
        line-height: 1.25rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    &__message{
        font-family: 'AvenirNextLTPro', sans-serif;
        width: 100%;
        height: 2.25rem;
        border-radius: .25rem;
        border: 1px solid $secondary-mercury-color;
        height: 8rem;
        padding: .75rem;
        margin-bottom: 1rem;
        resize: none;
        outline: none;
        padding: 1rem;

        @include tablet{
            min-width: 26.2rem;
            max-width: 56rem;
            height: 3.25rem;
            margin: .5rem 0 0 2rem;
        }

    }

    &__message::placeholder{
        color: $primary-brainflix-black-color;
    }

    &__button{

        background-color: $primary-brainflix-blue-color;
        border: 0;
        border-radius: .25rem;
        width: 100%;
        padding: 1rem;
        cursor: pointer;
        display: flex;
        gap: 2rem;
        align-items: center;

        @include tablet{
            display: none;
        }

    }

    &__button--link:hover{
        background-color: $secondary-brainflix-darkblue-color;
    }

    &__buttonTab{

        display: none;
        background-color: $primary-brainflix-blue-color;
        border: 0;
        border-radius: .25rem;
        width: 100%;
        padding: 1rem;
        cursor: pointer;
        gap: 2rem;
        align-items: center;

        @include tablet{
            display: inline-block;
            min-width: 11rem;
            max-width: 12rem;
            height: 3.25rem;
            margin-top: 1.4rem;
            display: flex;
            margin-left: 1rem;
        }

    }

    &__buttonTab--link:hover{
        background-color: $secondary-brainflix-darkblue-color;
    }



    &__comment{
        color: $primary-white-color;
        text-align: center;
        font-size: 1rem;
        line-height: 1.25rem;
        font-weight: 700;
    }

}