@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/global.scss' as *;

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: $primary-white-color;

    &__items{
        padding: 1rem;
        width: 100vw;
    }

    &__box{
        padding-bottom: 1rem;
        display: flex;
        flex-direction: row;
    }

    &__input{
        background-image: url('../../assets/icons/search.svg');
        background-size: 1rem;
        background-repeat: no-repeat;
        background-position: .4rem;
        width: 15rem;
        height: 2.25rem;
        border-radius: .25rem;
        padding: 0.75rem 0.75rem 0.75rem 2rem;
        border: 1px solid $secondary-mercury-color;
        outline: none !important;
        flex-grow: 1;

    }

    &__input::placeholder{
        color: $primary-brainflix-black-color;
    }

    &__searchicon{
            position: absolute;
    }

    &__avatar{
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        object-fit: cover;
        margin-left: .5rem;

    }
    &__button{
        background-color: $primary-brainflix-blue-color;
        border: 0;
        border-radius: .25rem;
        width: 100%;
        padding: 1rem;
        cursor: pointer;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    &__icon{
        position: absolute;  
        left: 1.025rem;


    }

    &__button p{
        color: $primary-white-color;
        text-align: center;
        font-size: 1rem;
        line-height: 1.25rem;
        font-weight: 700;
    }
}