@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/global.scss' as *;

.banner{
    padding: 1rem 0 1rem 0;

    &__video{
        width: 100%;
    }

}

.video__container{
    padding: 0 1rem 0 1rem;
    width: 100%;

    @include tablet{
        padding: 0 2.25rem 0 2.25rem;
    }

    &-title{
        font-weight: 700;
        font-size: 1.5rem;
        margin: 0 0 1rem 0;

        @include tablet{
            font-size: 2.0625rem;
        }
    }

    &-box{
        display: flex;
        border-bottom: .0625rem solid $secondary-mercury-color;
        border-top: .0625rem solid $secondary-mercury-color;

        @include tablet{
            border-top: none;
            justify-content: space-between;
        }
        
    }

    &-boxInfo-left{
        width: calc(50% - 1rem);

        @include tablet {
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
    }

    &-boxInfo-right{
        width: calc(50% - 1rem);

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 1rem;
        }
    }

    &-name{
        padding: 1rem 0 1rem 0;
        color: $secondary-brainflix-darkblack-color;
        font-size: 1rem;
        font-weight: 700;

        @include tablet{
            font-size: 1.2rem;
        }
    }

    &-date{
        padding: 1rem 0 1rem 0;
        color: $primary-silver-color;
        font-size: 1rem;
        font-weight: 400;

        @include tablet{
            font-size: 1.2rem;
        }
    }

    &-watch{
        padding: 1rem 0 1rem 0;
        color: $primary-silver-color;
        font-size: 1rem;
        font-weight: 400;
        display: flex;

        @include tablet{
            font-size: 1.2rem;
        }
    }

    &-like{
        padding: 1rem 0 1rem 0;
        color: $primary-silver-color;
        font-size: 1rem;
        font-weight: 400;
        display: flex;

        @include tablet{
            font-size: 1.2rem;
        }
    }

    &-image{
        padding-right: .5rem;
    }

    &-description{
        padding: 1rem 0 1rem 0;
    }

    &-summary{
        font-size: 1rem;
        line-height: 1.125rem;
        font-weight: 400;

        @include tablet {
            font-size: 1.2rem;
            line-height: 1.675rem;
        }
    }
}