@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/global.scss' as *;

.successPage{
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;

    @include tablet{
        padding: 0 2.5rem 0 2.5rem;
        
    }

    &__header{
        color: $primary-brainflix-blue-color;
        text-align: center;
        font-size: 2.5rem;
        padding-bottom: 1.5rem;
        padding-top: 3rem;
        line-height: 4rem;
        font-weight: 700;
    }

    &__image{
    height: 15rem;
    width: 15rem;
    margin: 0 auto;
    }

    &__subheader{
        color: $secondary-brainflix-darkblue-color;
        text-align: center;
        font-size: 1rem;
        padding-top: 1.5rem;
        font-weight: 700;
    }
    &__button{
    
        background-color: $primary-brainflix-blue-color;
        border: 0;
        border-radius: .25rem;
        width: 100%;
        padding: 1rem;
        cursor: pointer;
        position: relative;
        margin-bottom: 1rem;
        margin-top: 1rem;

        @include desktop{
            width: 35%;
        }

        &:hover{
            background-color: $secondary-brainflix-darkblue-color;
        }
    }
    &__link {
        text-decoration: none;
        display: flex;
        justify-content: center;
    }

    &__button p{
        color: $primary-white-color;
        font-size: 2rem;
        font-weight: 600;
    }
}