@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/global.scss' as *;

.videoComments {
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem .5rem 1rem;    

    @include tablet{
        padding: 0 2.25rem 0 2.25rem;
        position: relative;
    }

    &__container {
        width: 100%;
        padding: 1.5rem 0 1rem 1rem;

    }

    &__box{
        width: 100%;
        border-bottom: 1px solid $secondary-mercury-color;

    }

    &__avatar {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        float: left;
        position: relative;
        top: 0.5rem;
        left: -0.5rem;
        background-color: $secondary-mercury-color;

        @include tablet{
            width: 3.25rem;
            height: 3.25rem;
            position: absolute;
            left: 2.0375rem;
            top: .9rem;
        }

    }

    &__header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 1rem;

        @include tablet{
            padding-top: 1rem;
            margin-left: 5.2rem;
        }

    }

    &__title{
        font-size: 1rem;
        font-weight: 600;
        color: $primary-brainflix-black-color;

    }

    &__date{
        font-size: 1rem;
        font-weight: 400;
        color: $primary-silver-color;
    }

    &__text{
        font-size: 1rem;
        font-weight: 400;
        color: $primary-brainflix-black-color;
        padding-left: 2.5rem;
        padding-bottom: 1.5rem;

        @include tablet{
            margin-left: 2.7rem;
        }


    }

}